<nav class="nav_bar">
  <div class="logo">
    <a href="/"><img src="/images/logo.svg" alt="DH Movies"></a>
    <!-- <a href="#" class="toggle_nav">
      <span class="fa fa-bars"></span>
  </a>  -->
  </div>
    <div class="nav_bar_list">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/movies/list">Películas</a>
          <ul class="more_links">
            <li><a href="/movies/recommended">Más vistas</a></li>
            <li><a href="/movies/new">Estrenos</a></li>
            <li><a href="/movies/create">Agregar película</a></li>
          </ul>
        </li>
        <li><a href="">Series</a>
          <!-- <ul class="more_links">
            <li><a href="#">Agregar Serie</a></li>
          </ul> -->
        </li>
        <li><a href="">Géneros</a>
          <!-- <ul class="more_links">
            <li><a href="#">Agregar Género</a></li>
            <li><a href="#">Peliculas por género</a></li>
          </ul> -->
        </li>
        <li><a href="">Actores</a>
          <!-- <ul class="more_links">
            <li><a href="#">Agregar Actor</a></li>
            <li><a href="#">Crear película</a></li>
            <li><a href="#">Crear película</a></li>
          </ul> -->
        </li>

      </ul>
    </div>
  </nav>