<section class="search_container"> 
    <form action="/movies/search" method="POST">
      <input type="search" name="search" id="search" class="search_bar">
      <input type="submit" value="Enviar" class="search_buttons">
    </form>
  </section>
  